
:host ::ng-deep  .third-card {

    width: 550px;
    height: 450px;
    padding: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 5px 5px 13px #ededed, -5px -5px 13px #ffffff;


    
}