<div class="sidenav">
    <ul>
     
      
      <li >
        <a routerLink="/dashboard" routerLinkActive="activelink">
          <i class="fa fa-home"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li >
        <a routerLink="/customer" routerLinkActive="activelink" >
          <i class="fa fa-envelope"></i>
          <p>Customer</p>
        </a>
      </li>
      <li >
        <a routerLink="/roles" routerLinkActive="activelink" >
          <i class="fa fa-envelope"></i>
          <p>Roles</p>
        </a>
      </li>
      
    </ul>
  
</div>
