
<app-card>
    
    <div action>
        <h2>Actions</h2>
        <p>perform any of the action below</p>
        <div class="user-card">
            <div class="rowone-cards">
                <div class=" card whitelist-card">
                    <p>Whitelist user</p>
                </div>
                <div class=" card approve-card">
                    <p>Approve whitelisted request</p>
                </div>

            </div>
            <div class="rowtwo-cards">
                <div class=" card hotlist-card">
                    <p>Whitelist user</p>
                </div>
                <div class=" card reject-card">
                    <p>Approve whitelisted request</p>
                </div>

            </div>

        </div>
    </div>
          
      
      
  
</app-card>
