

<div class="layout">

  <app-navbar (toggle)="togglebar()"  *ngIf="!(_router.url === '/login' || _router.url === '/')"   class="nav-bar"></app-navbar>
  <div [ngClass]="visible ? 'mainnav' : 'main'">

    <app-sidebar  [visible]=visible *ngIf="visible && !(_router.url === '/login' || _router.url === '/')" [@inOutAnimation] class="side-bar"></app-sidebar>
    <!-- <app-sidebar  [visible]=visible *ngIf="  !(_router.url === '/login' || _router.url === '/')" class="side-bar"></app-sidebar> -->

    <router-outlet ></router-outlet>
    

  </div>
 

</div>


 
  
  
  
  
