.main-container {
    display: flex;
    height: 100%;
    flex-grow: 1;
    

  
    background-color: #f3f4f6;
    
}

.side-bar {
    width: 15%;
    background: rgba(204, 188, 252, 0.3);
    height: 650px;


}