
.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    
    grid-gap: 1em;
    grid-template-rows: 16em 16em;
    flex-grow: 1;
    
    
    

}

.dashboard {
    width: 100%;
    padding-left: 40px;
    padding-top: 20px;
    padding-right: 20px;
    
    
    
    
}
