
:host ::ng-deep  .first-card {

    // width: 360px;
    height: 200px;
    padding: 25px;
    border-radius: 5px;
    background-color: #ffffff;
    display: flex;
    
    
   


    
}

.accountsummary-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
    margin-top: 16px;
    grid-gap: 1em;
    grid-template-rows: 16em 16em;
    height: 250px;
    
    
   
    
    // gap:20px;
}
