nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #ffffff;
    padding: 10px 20px;
    
  }
  
  .left-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    gap: 180px;
  }
  
  .right-section {
    display: flex;
    align-items: center;
  }

  .breadcrumb {
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    left: 200px;
    top: 8px;
    color:  #61297F;
   
  }

  .purple {
    color:  #61297F;

  }

  .linkedin {
    font-size: 30px;
  }
  
  .icon1,
  .icon2,
  .icon3 {
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
  }

  .polaris-logo {
    width: 50px;
  }
  
 